.side_buttons{
    background-color: #A00454;
    color:white;
    border-radius: 50%;
    position:absolute;
}
#side_button1{
    position: absolute;
    left: 89%;
    top: 245%;
    height: 10vh;
}
#side_button2{
    position: absolute;
    left: 82%;
    top: 295%;
    height: 10vh;
    width: 6vw;
}
.select_buttons {
    background-color: #535353;
    color: white;
    border-radius: 20%;
    position: relative;
    top: 79vh;
    left: 46vw;
    z-index: 1;
}
.game_board3{
    position: relative;
    top: 1%;
}
h1{
    font-size:2vw;
}
h2{
    font-size:1.7vw;
}
#stat_display{
    text-align: center;
    position:relative;
    top:75vh;
}
#stat_box{
    box-sizing: border-box;
    border:5px solid olive;
    background-color: #8FB321;
    position: relative;
    top:37px;
}
#stat_box > div{
    height:7vh;

}
.player2_turn_img{
    width:5vw;
    height:auto;
    transform:rotate(90deg);
}
.player1_turn, .player2_turn {
    position: relative;
    bottom: 1vh;
}
.player2_turn{
    display:none;
}
.player1_turn_img{
    width:5vw;
    height:auto;
    transform:rotate(270deg) scaleX(-1);
}
body{
    background-color:#E3E3E3;
    position: relative;
}
.square3 {
    border: 3px solid olive;
    background-color: #8FB321;
    width: 17vw;
    height: 22vh;
    transform-style: preserve-3d;
    transition-duration: 1s;
    margin: auto;
}
.square5 {
    border: 3px solid olive;
    background-color: #8FB321;
    width: 10vw;
    height: 15vh;
    transform-style: preserve-3d;
    transition-duration: 1s;
}
.game_board3{
    position:absolute;
    left:22vw;
    border: 30px solid #948F9E;
    box-sizing: content-box;
    border-radius:5% 5% 10% 5%;
}
.game_board5{
    display:none;
    position:absolute;
    left:23vw;
    top:0;
    border: 30px solid #948F9E;
    border-radius:5% 5% 10% 5%;
}
.x{
    background-image: url("images/battletoads.png");
    background-size:contain;
    background-repeat: no-repeat;
    background-position: center;
    transform:  rotate3D(0,1,0,180deg);
}
.x:hover {
    border-radius:30%;
}
.o{
    background-image: url("images/contra.png");
    transform: rotate3D(0,1,0,180deg);
    background-size:contain;
    background-repeat: no-repeat;
}
.o:hover {
    border-radius:30%;

}
.modal-header{
    border-bottom:none;
}
.modal-footer{
    border-top: none;
}
.square_occupied{
    font-size:1vw;
    position:absolute;
    border-radius:50%;
    right:0;
    background-color:rosybrown;
    border:5px solid dimgrey;
    color:white;
    z-index:1;
    text-align:center;
    display:none;
}
#anarchy_display{
    display:none;
    position:absolute;
    left:0;
}
.modal-header, .modal-body, .modal-footer{
    background-color: #8FB3ff;
    color:black;
}
.anarchy_info{
    position:absolute;
    right:1vw;
    display:none;
}
#controller{
    position:absolute;
    left:4vw;
    top:37vh;
}
